:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  width: min(90vw, 900px);
  text-align: center;
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  #app {
    padding: 0rem;
  }
}

.post-style {
  text-align: left;
  background-color: rgb(27, 27, 27);
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 2rem;
  box-shadow: 0px 0px 20px 0px rgb(226, 132, 220);

  transition: 0.5s ease-in-out;
}
.post-style:hover {
  transform: scale(1.01);
}

.page-buttons-div {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pages-btn {
  flex: 1 1 120px;
  margin: 0.3rem;
  white-space: nowrap;
  color: aliceblue;
  background-color: rgb(27, 27, 27);
  transition: 0.5s ease-in;
}

.pages-btn:hover {
  background-color: rgb(226, 132, 220);
}

.pages-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pages-btn:disabled:hover {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
  cursor: not-allowed;
  pointer-events: none;
}

.page-number-style {
  flex: 1 1 100px;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.remove-btn {
  color: rgb(218, 98, 98);
  border: 1px solid rgb(218, 98, 98);
  transition: 0.5s ease-in;
}
.remove-btn:hover {
  color: white;
  background-color: rgb(243, 91, 91);
}
